@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #12bca2;
  --secondary: #6d15df;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown:hover {
  background-color: #6c757d; 
  color: white; 
}



.dropdown-menu {
  background-color: #101111; 
}

.dropdown-item {
  background-color: #101111; 
  color: white; 
}

.dropdown-item:hover {
  background-color: #6c757d; 
  color: white; 
}

/* Custom CSS to minimize gap */
.offcanvas-header {
  margin-bottom: 0 !important; 
  padding-bottom: 0 !important; 
}

/* .offcanvas-body {
  padding-top: 0 !important; 
  margin-top: 0 !important;
} */

.custom-offcanvas {
  margin-top: 15vh; /* 15% of the viewport height */
  width: 20vw !important;
  background-color: #101111 !important;
}

.custom-offcanvas offcanvas-body{
  margin: 0 !important;
  padding: 0 !important;
}

/* For screens smaller than 428px */
@media (max-width: 428px) {
  .custom-offcanvas {
    width: 50vw !important;  /* Set the offcanvas width to 80% of the screen width */
    background-color: #101111 !important;
  }
}

@media (max-width: 428px) {
  p {
    font-size: x-small;
  }
}
